a, h1, h4 {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
}
.navBrand-custom, .navbar-custom{
  /*color: #5B85AA !important;*/
  -webkit-transition: border 1000ms ease;
  -moz-transition: border 1000ms ease;
  -ms-transition: border 1000ms ease;
  -o-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
.navbar-custom {
  background-color:transparent;
  border: none;
}
.navBrand-custom {
  font-size: 2em;
  background-color: transparent;
  color: white !important;
}
.navbar-custom li a:hover {
  border-bottom: 3px solid white;
}

.navbar-custom li a{
  color: white !important;
  font-size: 1.25em;
}
.parallax {
  background-image: url("../images/wood.jpg");
  background-size: cover;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.headerSection {
  align-self: center;
  align-content: center;
  margin: 0 auto;
}
h1.headerText {
  text-align: center;
  text-shadow: -1px -1px rgba(0,0,0,0.8), 1px 1px rgba(255,255,255,0.5);
  color: rgba(64, 35, 8, 0.92);
  font-size: 6em;
}
.section {
  height: 700px;
}
.toggle-custom {
  background-color: none;
  border: none;
  color: white;
}
button.toggle-custom:hover {
  color: #403F4C;
}
.aboutText {
  align-self: center;
  align-content: center;
  text-align: center;
}
.aboutSection, .workSection, .contactSection{
  display: flex;
}
#about, #work, #contact{
  display: flex;
}
