a.navCustom, h1, h4, h3 {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
}
p {
  font-family: 'Ropa Sans', sans-serif;
}
.navBrand-custom, .navbar-custom{
  -webkit-transition: border 1000ms ease;
  -moz-transition: border 1000ms ease;
  -ms-transition: border 1000ms ease;
  -o-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
.navbar-custom {
  background-color:transparent;
  border: none;
}
.navBrand-custom {
  font-size: 2em;
  background-color: transparent;
  color: white !important;
}
.navbar-custom li a:hover {
  border-bottom: 3px solid white;
}
.navbar-custom li a{
  color: white !important;
  font-size: 1.25em;
}
.parallax {
  background-image: url("../images/wood.jpg");
  background-size: cover;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.headerSection {
  align-self: center;
  align-content: center;
  margin: 0 auto;
}
h1.headerText {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 8em;
}
.section {
  height: 700px;
}
.toggle-custom {
  background-color: none;
  border: none;
  color: white;
}
button.toggle-custom:hover {
  color: #403F4C;
}
.aboutText {
  align-self: center;
  align-content: center;
  text-align: center;
}
.aboutSection, .workSection, .contactSection{
  display: flex;
}
img {
  height: 100px;
  width: 100px;
}
.orange {
  color: #F15025;
}
.aboutText {
  color: white;
}
.slide {
  text-align: center;
}
.navIcon {
  height: 40px;
  width: 40px;
}
.navIcon:hover {
  transform: translateY(-10px);
  transform: translateX(10px);
}
.videoThumbnail {
  height: 40vh;
  width: 50vh;
  margin: -30px auto;
}
.description {
  width: 60%;
  margin: 0 auto;
}
.subDescriptionSection{
  margin-bottom: -10px;
}
.subDescriptionSection p{
  font-size: 1.2em;
}
.projHeader {
  font-weight: bold;
  margin: 10px 0 20px 0;
  color: black;
}
.link-custom {
  margin-top: -5px;
  margin-left: 10px;
  margin-right: 10px;
  color: #403F4C;
}
.link-custom:hover {
  color: white;
}
.contactSection {
  text-align: center;
}
.geotrotter {
  margin: 0 auto;
  background: white;
  display: flex;
  height: 37vh;
  width: 53vh;
}
.geotrotter video {
  align-self: center;
  align-content: center;
  /*margin: -10px auto;*/
}
#about, #work, #contact{
  display: flex;
}
